#link{
	float: right;
	margin-right: 20px;
}

.box{
	position: relative;
	display: inline-block;
	width: 250px;
	height: 300px;
	margin: 10px;
	margin-bottom: 0;
}

#statement{
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	color: white;
}
.rectangle{
	width: 175px;
}

.hide{
	position: relative;
	margin: 5px;
	margin-top: -10px;
	border: 2px #3399FF solid;
	border-top: 0;
	visibility: hidden;
	width: 246px;
	height: 50px;
}
.box:hover .hide{
	-webkit-transition: .5s ease;
	visibility: visible;
}
.hide:after {
  position: absolute;
  content: "";
  background-color: #3399FF;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;   
}

form{
	position: relative;
	width: 192px;
	margin: 0 auto;
	padding-top: 12px;
}
form input{
	width: 120px;
}
form button{
	width: 60px;
}


