#centered_results {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-family: 'Monda', sans-serif;
    font-size: 32px;
    text-align: center;
}

.result_image {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.image_wrapper {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#homeButton {
    width: 100px;
    height: 36px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Monda', sans-serif;
    font-size: 18px;
}